@model Domain.Entities.Customer

<form method="post">
    <div>
        <label>Email</label>
        <input type="email" name="email" required />
    </div>
    <div>
        <label>Пароль</label>
        <input type="password" name="password" required />
    </div>
    <button type="submit">Войти</button>
</form>
<a href="/AuthView/Register">Регистрация</a>